<h1 class="text-center text-danger mt-2">Seja bem vindo a Loja de cursos</h1>

<!-- <h4 class="text-danger">{{ anuncio }}</h4> -->

 <div class="row justify-content-center">
  
  <div class="card shadow mt-5 ">
    <table class="table table-responsive table striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Validade</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of listaProdutos">
          <td>{{ prod.id }}</td>
          <td>{{ prod.nome }}</td>
          <td>{{ prod.validade | date: "shortDate" }}</td>
          <td>{{ prod.precoProduto | currency: "BRL" }}</td>
          <td><button class="btn btn-success">Selecionar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
